<nav class="navbar navbar-expand-md fixed-top navbar-shade">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
            {{#if @blog.logo}}
                <img src="{{@blog.logo}}" alt="{{@blog.title}}">
            {{else}}
                <h1>{{@blog.title}}</h1>
            {{/if}}
            </a>

            <button id="navbar-toggle" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#sidenav" aria-controls="sidenav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="sidenav">
                <ul class="navbar-nav">
                {{#if @blog.logo}}
                    <li class="nav-image">
                        <img src="{{@blog.logo}}" alt="{{@blog.title}}">
                    </li>
                {{/if}}
                {{#foreach navigation}}
                    <li class="nav-{{slug}} navbar-side-item{{#if current}} nav-current{{/if}}">
                        <a href="{{url absolute="true"}}">{{label}}</a>
                    </li>
                {{/foreach}}
                </ul>
            </div>
        </div>
    </div>
</nav>
